* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.body {
    background-color: #ffcc00;
    height: 100vh;
}

.js_orange {
    background-color: orange;
}

.js_yellow {
    background-color: #ffcc00;
}


